<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BddMagic" version="0.1.13.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="FluentAssertions" version="2.1.0.0" targetFramework="net40" />
  <package id="Nancy" version="0.20.0" targetFramework="net40" />
  <package id="OpenMagic" version="0.1.27.0" targetFramework="net40" />
  <package id="Selenium.Support" version="2.35.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.35.0" targetFramework="net40" />
  <package id="TestMagic" version="0.1.6" targetFramework="net40" />
  <package id="TestStack.Seleno" version="0.5.0.15" targetFramework="net40" />
</packages>