<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

    <configSections>

        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>

        <sectionGroup name="common">
            <!--  
                Installation of Common.Logging and NLog must be done in this order: 
      
                install-package Common.Logging.NLog20
                update-package Common.Logging
                update-package NLog
            -->
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />

        </sectionGroup>

        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    </configSections>

    <common>

        <logging>
            <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
                <arg key="configType" value="inline" />
            </factoryAdapter>
        </logging>

    </common>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <variable name="brief" value="${level} | ${logger} | ${message}" />
        <variable name="verbose" value="${longdate} | ${machine} | ${processid} | ${processname} | ${level} | ${logger} | ${message}" />

        <targets>
            <target xsi:type="Chainsaw" name="Chainsaw" address="udp://127.0.0.1:7071" />
            <target xsi:type="ColoredConsole" name="ColoredConsole" layout="${brief}" />
        </targets>

        <rules>
            <logger name="*" minlevel="Trace" writeTo="Chainsaw" />
            <logger name="*" minlevel="Info" writeTo="ColoredConsole" />
        </rules>

    </nlog>

    <system.web>

        <customErrors mode="Off" />

        <compilation debug="true" targetFramework="4.0">

            <buildProviders>
                <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
                <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
            </buildProviders>

        </compilation>

        <httpHandlers>
            <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </httpHandlers>

    </system.web>

    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    </system.serviceModel>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="webPages:Enabled" value="false" />
    </appSettings>

    <system.web.webPages.razor>
        <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
            <namespaces>
                <add namespace="Nancy.ViewEngines.Razor" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>

                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />

            </dependentAssembly>

        </assemblyBinding>

    </runtime>

</configuration>