@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/PageLayout.cshtml";
}
@section Scripts {
    <script src="/Scripts/angular.min.js"></script>
    <script src="/App/infrastructure/ui/field.js"></script>
    <script src="/App/infrastructure/services/humanizer.js"></script>
    <script src="/App/registration/Registration.js"></script>
}

<form name="form" method="post" class="form-horizontal" ng-app="registrationApp" ng-controller="RegistrationController" novalidate>

    <fieldset>
        
        <legend>Registration</legend>

        <field ng-model="Registration.FirstName" required></field>
        <field ng-model="Registration.LastName" required></field>
        <field ng-model="Registration.Address" type="textarea" rows="3" placeholder="Your full address"></field>
        <field ng-model="Registration.EmailAddress" type="email" required>
            <validator key="email">A valid email address is required.</validator>
        </field>
        <field ng-model="Registration.TelephoneNumber"></field>
        <field ng-model="Registration.MembershipOrganisation" label="Membership" type="select" ng-options="m.id as m.name for m in MembershipOrganisations"></field>
        <field ng-model="Registration.DietaryRequirements" type="textarea" rows="4"></field>
        <field ng-model="Registration.SpecialRequirements" type="textarea" rows="4"></field>
        <field ng-model="Registration.PaymentMethod" label="Payment Method" type="select" ng-options="m.id as m.name for m in PaymentMethods"></field>


        <div class="control-group">
            <p>todo: show price. &le; &amp; &gt; 30 members</p>
        </div>

        <div class="control-group">
            <div class="controls">
                <button id="Submit" name="Submit" class="btn btn-primary" ng-click="Submit(Registration)">Submit</button>
            </div>
        </div>

        @if (Model.isDeveloperMachine)
        {
            <pre>{{Registration | json}}</pre>
        }
        
    </fieldset>

</form>
