@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Shared/PageLayout.cshtml";
}
@section Scripts {
    <script src="/Scripts/angular.min.js"></script>
    <script src="/App/infrastructure/ui/field.js"></script>
    <script src="/App/infrastructure/services/humanizer.js"></script>
    <script src="/App/registration/Registration.js"></script>
}

<form name="form" method="post" class="form-horizontal" ng-app="registrationApp" ng-controller="RegistrationController" novalidate>

    <fieldset>
        
        <legend>Registration</legend>

        @*<input type="text"  ng-model="Registration.FirstName"   placeholder="First Name"    class="input-xlarge" required>
        <input type="text"  ng-model="Registration.LastName"    placeholder="Last Name"     class="input-xlarge" required>*@

        <field ng-model="Registration.FirstName" required></field>
        <field ng-model="Registration.LastName" required></field>
        <field ng-model="Registration.AddressLine1"></field>
        <field ng-model="Registration.AddressLine2"></field>
        <field ng-model="Registration.Suburb"></field>
        <field ng-model="Registration.State"></field>
        <field ng-model="Registration.Postcode"></field>
        <field ng-model="Registration.EmailAddress" type="email"></field>
        <field ng-model="Registration.TelephoneNumber"></field>
        <field ng-model="Registration.MembershipOrganisation" label="Membership" type="select"></field>
        <field ng-model="Registration.DietaryRequirements" type="textarea"></field>
        <field ng-model="Registration.SpecialRequirements" type="textarea"></field>
        <field ng-model="Registration.PaymentMethod" type="select"></field>


        <div class="control-group">
            <p>todo: show price. &le; &amp; &gt; 30 members</p>
        </div>

        <div class="control-group">
            <div class="controls">
                <button id="Submit" name="Submit" class="btn btn-primary" ng-click="Submit(Registration)">Submit</button>
            </div>
        </div>

        @if (Model.isDeveloperMachine)
        {
            <pre>{{Registration | json}}</pre>
        }
        
    </fieldset>

</form>
