<!--<div class="control-group">
    <label class="control-label" for="todoSuburb">todoSuburb</label>
    <div class="controls">
        <input id="todoSuburb" name="todoSuburb" type="text" placeholder="todoSuburb Name" class="input-xlarge" ng-model="Registration.todoSuburb" required>
    </div>
</div>-->

<div class="control-group" ng-class="{'error' : $field.$invalid && $field.$dirty, 'success' : $field.$valid && $field.$dirty}">
    <label class="control-label">{{label}}</label>
    <div class="controls">
        <input>
        <span ng-repeat="(key, error) in $field.$error" ng-show="error && $field.$dirty" class="help-inline">{{$validationMessages[key]}}</span>
    </div>
</div>