@{
    Layout = "Shared/PageLayout.cshtml";
}
<h1>
    Bootstrap starter template</h1>
<p>
    Use this document as a way to quick start any new project.<br>
    All you get is this message and a barebones HTML document.
</p>
<div class="alert">
    alert
</div>
<div class="alert alert-danger">
    alert alert-danger
</div>
<div class="alert alert-success">
    alert alert-success
</div>
<div class="alert alert-info">
    alert alert-info
</div>
